# Virtual environment
env1/
.venv/
venv/
ENV/

# Build artifacts
build/
dist/
*.egg-info/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
__MACOSX/

#dataset 
Guitar-TECHS-data/